{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show col-md-4 col-md-offset-4 fixed-bottom" id="alert-box" align="center" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<div class="content form-wrapper">
    <form enctype="multipart/form-data" action="/add-product/" method="POST">
        {% csrf_token %}
        <div class="form-row" style="margin-bottom: 15px;">
          <div class="col">
            <label for="inputProductNo">Identifiant du produit</label>
            <div style="display: flex; gap: 20px;">
              <select name="product_id_etg" class="form-control form-control-sm">
                <option value="NULL" selected>
                  Etagère
                </option>
                {% for shelf in shelfs %}
                  <option value="{{ shelf }}">
                    {{ shelf }}
                  </option>
                {% endfor %}
              </select>
              <div style="display: flex; border: 1px solid rgb(75, 75, 245); padding: 2px;">
                <input id="cas-input" type="number" min="1" class="form-control form-control-sm" name="product_id_cas" placeholder="Casier">
                <input onchange="change_cas_type()" id="cas-checkbox" type="checkbox" class="form-control form-control-sm">
              </div>
              <script>
                function change_cas_type(){
                  if(document.getElementById("cas-checkbox").checked){
                    document.getElementById("cas-input").type = "text";
                  }else{
                    document.getElementById("cas-input").type = "number";
                    document.getElementById("cas-input").value = 0;
                  }
                }
              </script>
              <input type="text" class="form-control form-control-sm" name="product_id" placeholder="id" value="{{ y }}" readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="inputName">Nom du produit</label>
            <input value="{{form_datas.product_name}}" type="text" class="form-control form-control-sm" name="product_name" placeholder="ex. Marteau Deto 1.5kg, Cutter" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputUnity">Unité</label>
            <select name="product_unity" class="form-control form-control-sm">
                <option value="NULL" selected>
                  Unité
                </option>
                {% for unity in unities %}
                  <option value="{{ unity }}">
                    {{ unity }}
                  </option>
                {% endfor %}
            </select>
            <script>
                document.getElementById("currentUnity").selected = true;
            </script>
          </div>
          <div class="form-group col-md-3">
            <label for="inputQuantity">Quantité</label>
            <input value="{{form_datas.product_quantity}}" type="number" min="1" class="form-control form-control-sm" name="product_quantity"  required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputCP">Prix d'achat</label>
            <input value="{{form_datas.product_cp}}" type="number" min="1" name="product_cp" class="form-control form-control-sm" step="0.01"  required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputSP">Prix de vente</label>
            <input value="{{form_datas.product_sp}}" type="number" min="1" name="product_sp" class="form-control form-control-sm" step="0.01" required>
          </div>
        </div>
        <div class="form-group">
            <label for="inputCompany">Entreprise de fabrication</label>
            <input value="{{form_datas.product_company}}" type="text" class="form-control form-control-sm" name="product_company">
        </div>
        <div class="form-group">
          <label for="product_image">Image du produit</label>
          <input name="product_image" type="file" class="form-control form-control-sm"/>
          <img id="imagePreview" src="#" alt="Aperçu de l'image" style="display:none; width:150px;" />
          <script>
              document.addEventListener('DOMContentLoaded', function(){
                  previewImage();
              });
          </script>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description du produit</label>
            <textarea value="{{form_datas.product_description}}" name="product_description" class="form-control form-control-sm"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">AJOUTER</button>
    </form>
</div>

<script src="{% static 'js/image_visualizer.js' %}"></script>
{% endblock %}
