{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content form-wrapper">
    <form enctype="multipart/form-data" action="/add-product/" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputProductNo">Identifiant du produit</label>
            <input type="text" class="form-control form-control-sm" name="product_id" placeholder="Identifiant du produit" value="{{ y }}" readonly>
          </div>
        </div>
        <div class="form-group">
            <label for="inputName">Nom du produit</label>
            <input type="text" class="form-control form-control-sm" name="product_name" placeholder="ex. Marteau Deto 1.5kg, Cutter" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputQuantity">Quantité</label>
            <input type="number" class="form-control form-control-sm" name="product_quantity" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputCP">Prix d'achat</label>
            <input type="number" name="product_cp" class="form-control form-control-sm" step="0.01" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputSP">Prix de vente</label>
            <input type="number" name="product_sp" class="form-control form-control-sm" step="0.01" required>
          </div>
        </div>
        <div class="form-group">
          <label for="product_etag">Etagère</label>
          <input type="text" class="form-control form-control-sm" name="product_etag">
        </div>
        <div class="form-group">
            <label for="inputCompany">Entreprise de fabrication</label>
            <input type="text" class="form-control form-control-sm" name="product_company">
        </div>
        <div class="form-group">
          <label for="product_image">Image du produit</label>
          <input name="product_image" type="file" class="form-control form-control-sm"/>
          <img id="imagePreview" src="#" alt="Aperçu de l'image" style="display:none; width:150px;" />
          <script>
              document.addEventListener('DOMContentLoaded', function(){
                  previewImage();
              });
          </script>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description du produit</label>
            <textarea name="product_description" class="form-control form-control-sm"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">AJOUTER</button>
    </form>
</div>

<script src="{% static 'js/image_visualizer.js' %}"></script>
{% endblock %}
