<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gstionnaire De Magasin</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} alert-dismissible fade show col-md-4 col-md-offset-4 fixed-bottom" id="alert-box" style="text-align: center;" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="main-container">
        <div class="header">
            <h1>ADM</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Produits</a></li>
                <li><a href="/sell-product/?view=true">Vendre</a></li>
                <li><a href="/selled-products/">Ventes</a></li>
                <li><a href="/approvioning/">Approvisionment</a></li>
                {% if request.user.is_staff %}
                    {% if request.user.is_superuser %}
                        <li><a href="/billing">Calculer Facture</a></li>
                        <li><a href="/metrics">Statistiques</a></li>
                        <li><a href="/camera/viewer/">Vidéos</a></li>
                    {% endif %}
                <li><a href="/add-product">Ajouter Produit</a></li>
                <li><a href="/update-product">Modifier</a></li>
                {% endif %}
                <li><a href="/cameras/">Caméra</a></li>
                <li><a href="/account/login">Déconnexion</a></li>
            </ul>
        </nav>
        <div class="content-container">
            {% block content %} {% endblock %}
        </div>
        <div class="copyright">
            <p>Copyright &#169; As des Materiaux 2020</p>
        </div>
    </div>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/image_visualizer.js' %}"></script>
    
</body>
</html>