{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="content form-wrapper container-fluid">
    <h2>Produits en Stock</h2>
    <form action="/" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <input type="search" name="product_id" id="product_id" class="form-control form-control-sm" placeholder="Entrer l'ID du produit">
            </div>
            <div class="form-group col-12 col-md-4">
                <input type="search" name="prod_name" id="product_name" class="form-control form-control-sm" placeholder="Entrer le nom du produit">
            </div>
            <div class="form-group col-12 col-md-4">
                <input type="submit" value="Rechercher" class="btn btn-primary btn-block">
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table id="dash-table" class="table"> 
            <thead class="thead-dark"> 
                <tr> 
                    <th scope="col">ID</th> 
                    <th scope="col">Etagère</th>
                    <th scope="col">Casier</th>
                    <th scope="col">Nom</th> 
                    <th scope="col">Quantité</th> 
                    <th scope="col">Prix achat</th>
                    <th scope="col">Prix vente</th> 
                    <th scope="col">Image</th> 
                    {% if request.user.username == 'drissa' %}
                    <th scope="col">Actions</th> 
                    {% endif %}
                </tr> 
            </thead> 
            <tbody> 
                {% for product in products %} 
                <tr> 
                    <th scope="row">{{product.product_id}}</th> 
                    {% with parts=product.product_id|split:"-" %}
                        <td>{{ parts.1 }}</td>
                        <td>{{ parts.2 }}</td>
                    {% endwith %}
                    <td>{{product.product_name}}</td> 
                    <td>{{product.product_quantity}}</td> 
                    <td>{{product.product_cp|floatformat:2}}</td> 
                    <td>{{product.product_sp|floatformat:2}}</td> 
                    <td>
                        {% if product.product_image %}
                            <img style="width: 50px; height: 50px;" src="{{product.product_image.url}}"/>
                        {% else %}
                            <img style="width: 50px; height: 50px;" src="{% static 'images/image.png' %}"/>
                        {% endif %}
                    </td> 
                    {% if request.user.username == 'drissa' %}
                    <td>
                        <div>
                            <form action="/search-product/" method="GET">
                                {% csrf_token %}
                                <input name="product_id" style="display: none;" value="{{product.product_id}}"/>
                                <input type="submit" class="btn btn-warning" value="modifier"/>
                            </form>
                            <form action="/delete-product/" method="GET">
                                {% csrf_token %}
                                <input name="product_id" style="display: none;" value="{{product.product_id}}"/>
                                <input type="submit" class="btn btn-danger" value="supprimer"/>
                            </form>
                        </div>
                    </td> 
                    {% endif %}
                </tr> 
                {% endfor %} 
            </tbody> 
        </table>
        <div id="mobile">
            {% for product in products %}
                <div class="card">
                    <div class="card-image">
                        {% if product.product_image %}
                            <img src="{{product.product_image.url}}" alt="{{product.product_name}}">
                        {% else %}
                            <img src="{% static 'images/image.png' %}"/>
                        {% endif %}
                    </div>
                    <div class="card-details">
                        <div class="detail-item">
                            <h5>Code:</h5>
                            <p>{{product.product_id}}</p>
                        </div>
                        <div class="detail-item">
                            <h5>Etagère:</h5>
                            <p>{{product.product_etag}}</p>
                        </div>
                        <div class="detail-item">
                            <h5>Nom:</h5>
                            <p>{{product.product_name}}</p>
                        </div>
                        <div class="detail-item">
                            <h5>Prix achat:</h5>
                            <p>{{product.product_cp|floatformat:2}}</p>
                        </div>
                        <div class="detail-item">
                            <h5>Prix vente:</h5>
                            <p>{{product.product_sp|floatformat:2}}</p>
                        </div>
                        <div class="detail-item">
                            <h5>Qte rest:</h5>
                            <p>{{product.product_quantity}}</p>
                        </div>
                        {% if request.user.username == 'drissa' %}
                            <div style="width: 100%; display: flex; gap: 20px; flex-wrap: wrap; justfy-content: enter;">
                                <form action="/search-product/" method="GET">
                                    {% csrf_token %}
                                    <input name="product_id" style="display: none;" value="{{product.product_id}}"/>
                                    <input type="submit" class="btn btn-warning" value="modifier"/>
                                </form>
                                <form action="/delete-product/" method="GET">
                                    {% csrf_token %}
                                    <input name="product_id" style="display: none;" value="{{product.product_id}}"/>
                                    <input type="submit" class="btn btn-danger" value="supprimer"/>
                                </form>
                            </div> 
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination" style="width: 100%;">
        <span style="display: flex; gap: 20px; width: 100vw; flex-wrap: wrap;" class="step-links">
          {% if products.has_previous %}
            <form method="post">{% csrf_token %}<input style="display: none;" name="page_number" value="1"/><button type="submit">&laquo; premier</button></form>
            <form method="post">{% csrf_token %}<input style="display: none;" name="page_number" value="{{ products.previous_page_number }}"/><button type="submit">precedent</button></form>
          {% endif %}
      
          <span class="current">
            Page {{ products.number }} de {{ products.paginator.num_pages }}.
          </span>
      
          {% if products.has_next %}
            <form method="post">{% csrf_token %}<input style="display: none;" name="page_number" value="{{ products.next_page_number }}"/><button type="submit">suivant</button></form>
            <form method="post">{% csrf_token %}<input style="display: none;" name="page_number" value="{{ products.paginator.num_pages }}"/><button type="submit">dernier</button></form>
          {% endif %}
        </span>
    </div>
</div>
{% endblock %}
