{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="content form-wrapper container-fluid">
    <h2>Vendre un produit inexistant</h2>
    <form action="/sell-product/" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <input name="product_name" id="product_name" class="form-control form-control-sm" placeholder="Le nom du produit" required>
            </div>
            <div class="form-group col-12 col-md-4">
                <input type="number" min="1" name="quantity" id="quantity" class="form-control form-control-sm" placeholder="La quantité" required>
            </div>
            <div class="form-group col-12 col-md-4">
                <input type="number" min="1" name="price" id="price" class="form-control form-control-sm" placeholder="Le prix total" required>
            </div>
            <div class="form-group col-12 col-md-4">
                <input type="submit" value="valider" class="btn btn-success btn-block">
            </div>
        </div>
    </form>
</div>
{% endblock %}
