{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<div class="content form-wrapper">
    <form action="/search-product/" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="search" name="product_id" id="prod_id" class="form-control form-control-sm" placeholder="Enter the product ID">
            </div>
            <div class="form-group col-md-4">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
    </form>
    <form enctype="multipart/form-data" action="/update-product/" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputProductNo">Produit ID</label>
                <input type="text" class="form-control form-control-sm" name="product_id" placeholder="Product ID" value="{{ product.product_id }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">Produit Nom</label>
            <input type="text" class="form-control form-control-sm" name="product_name" value="{{ product.product_name }}" placeholder="eg. Marteau Deto 1.5kg, Cutter">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputUnity">Unité</label>
            <select name="product_unity" class="form-control form-control-sm">
                {% for unity in unities %}
                    {% if product.product_unity.name == unity.name %}
                        <option value="{{ unity }}" id="currentUnity">
                            {{ unity }}
                        </option>
                    {% else %}
                        <option value="{{ unity }}">
                            {{ unity }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <script>
                document.getElementById("currentUnity").selected = true;
            </script>
          </div>
          <div class="form-group col-md-4">
            <label for="inputQuantity">Quantité</label>
            <input type="number" class="form-control form-control-sm" value="{{ product.product_quantity }}" name="product_quantity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCP">Prix d'achat</label>
            <input type="number" name="product_cp" value="{{ product.product_cp }}" class="form-control form-control-sm" step="0.01">
          </div>
          <div class="form-group col-md-4">
            <label for="inputSP">Prix de vente</label>
            <input type="number" name="product_sp" value="{{ product.product_sp }}" class="form-control form-control-sm" step="0.01">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="product_etag">Etagère</label>
                <select name="product_etagere" class="form-control form-control-sm">
                    {% for shelf in shelfs %}
                        {% with parts=product.product_id|split:"-" %}
                            {% if parts.1 == shelf.name %}
                                <option value="{{ shelf }}" id="currentEtag">
                                    {{ shelf }}
                                </option>
                            {% else %}
                                <option value="{{ shelf }}">
                                    {{ shelf }}
                                </option>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </select>
                <script>
                    document.getElementById("currentEtag").selected = true;
                </script>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCasier">Casier</label>
                <div style="display: flex; border: 1px solid rgb(75, 75, 245); padding: 2px;">
                    {% with parts=product.product_id|split:"-" %}
                        <p id="prod_cas" style="display: none;">{{parts.2}}</p>
                        <input id="inputCasier" type="number" min="1" name="product_casier" value="{{ parts.2 }}" class="form-control form-control-sm">
                    {% endwith %}
                    <input onchange="change_cas_type()" id="cas-checkbox" type="checkbox" class="form-control form-control-sm">
                  </div>
                  <script>
                    function change_cas_type(){
                      if(document.getElementById("cas-checkbox").checked){
                        document.getElementById("inputCasier").type = "text";
                      }else{
                        document.getElementById("inputCasier").type = "number";
                        document.getElementById("inputCasier").value = document.getElementById("prod_cas").innerHTML;
                      }
                    }
                  </script>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCompany">Fabriquant</label>
            <input type="text" class="form-control form-control-sm" value="{{ product.product_company }}" name="product_company">
        </div>
        <div class="form-group">
            <label for="product_image">Image produit</label>
            <input name="product_image" type="file" class="form-control form-control-sm"/>
            {% if product %}
                {% if product.product_image %}
                    <img style="max-height: 100px;" id="imagePreview" src="{{ product.product_image.url }}" alt="Image Preview" style="width:150px;" />
                {% else %}
                    <img id="imagePreview" src="{% static 'images/image.png' %}"/>
                {% endif %}
            {% else %}
                <img id="imagePreview" src="{% static 'images/image.png' %}" alt="Image Preview" style="display:none; width:150px;" />
            {% endif %}
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                    previewImage();
                });
            </script>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description produit</label>
            <textarea name="product_description" class="form-control form-control-sm">{{ product.product_description }}</textarea>
        </div>
        <button type="submit" onclick="return confirm('Etes vous sure de vouloir modifier ce élément?')" class="btn btn-primary">MODIFIER</button>
    </form>
    
    {% if product and request.user.is_superuser %}
    <form action="/delete/{{ product.id }}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Voulez vous supprimer ce élément?')" class="btn btn-primary delete" style="background-color: #ff0000; margin-top: 10px;">SUPPRIMER</button>
    </form>
    {% endif %}
    
</div>

<script src="{% static 'js/image_visualizer.js' %}"></script>
{% endblock %}
